<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.mwos.ebochs.ui.category1"
            description="右键新建OS工程"
            id="com.mwos.ebochs.ui.command1"
            name="New OS">
      </command>
      <category
            id="com.mwos.ebochs.ui.category1"
            name="category1">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="com.mwos.ebochs.ui.menuContribution1">
      </menuContribution>
   </extension>

</plugin>
