<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="osnature"
         name="OS Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.mwos.ebochs.cdt.project.OSProjectNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
      <content-type
            id="cHeader">
      </content-type>
      <options
            allowLinking="true">
      </options>
      <content-type
            id="cSource">
      </content-type>
      <content-type
            id="asmSource">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="resource/arrow_out.png"
            id="com.mwos.ebochs.cdt.image1"
            natureId="com.mwos.ebochs.cdt.osnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.mwos.ebochs.cdt.wizards.category"
            name="MWOS">
      </category>
      <wizard
            category="com.mwos.ebochs.cdt.wizards.category"
            class="com.mwos.ebochs.cdt.ui.wizards.NewOSWizard"
            icon="resource/arrow_refresh.png"
            id="com.mwos.ebochs.cdt.wizard.newos"
            name="New OS Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.cdt.core.toolChainProvider">
      <provider
            class="com.mwos.ebochs.cdt.project.ToolChainProvider"
            id="com.mwos.ebochs.cdt.provider">
      </provider>
      <type
            id="com.mwos.ebochs.cdt.type"
            name="name">
      </type>
   </extension>

</plugin>
