<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.mwos.ebochs.wizards.category"
            name="操作系统">
      </category>
      <wizard
            category="com.mwos.ebochs.wizards.category"
            class="com.mwos.ebochs.ui.wizard.NewOSWizard"
            finalPerspective="org.eclipse.cdt.ui.CPerspective"
            hasPages="true"
            icon="resource/image/panda.png"
            id="com.mwos.ebochs.wizards.OSWizard"
            name="新建OS工程-x86"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.mwos.ebochs.view.category"
            name="操作系统调试">
      </category>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.view.MemVPart"
            icon="resource/icons/monitor_link.png"
            id="com.mwos.ebochs.view.MemVPart"
            name="内存">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.view.GIdtVPart"
            icon="resource/icons/table_multiple.png"
            id="com.mwos.ebochs.view.GIdtVPart"
            name="全局描述符表">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.ui.view.CPUView"
            icon="resource/icons/car.png"
            id="com.mwos.ebochs.ui.view.CPUView"
            name="寄存器">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.ui.view.BreakPointView"
            icon="resource/icons/photo.png"
            id="com.mwos.ebochs.ui.view.BreakPointView"
            name="断点">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.ui.view.HostView"
            icon="resource/icons/clock_go.png"
            id="com.mwos.ebochs.ui.view.HostView"
            name="目标主机">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mwos.ebochs.handlers.Asm2objHandler"
            commandId="com.mwos.ebochs.commands.asm2obj">
      </handler>
      <handler
            class="com.mwos.ebochs.handlers.C2asmHandler"
            commandId="com.mwos.ebochs.commands.c2asm">
      </handler>
      <handler
            class="com.mwos.ebochs.handlers.RunHandler"
            commandId="com.mwos.ebochs.command.run">
      </handler>
      <handler
            class="com.mwos.ebochs.handlers.DebugHandler"
            commandId="com.mwos.ebochs.command.debug">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mwos.ebochs.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.mwos.ebochs.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="com.mwos.ebochs.commands.sampleCommand"
                  id="com.mwos.ebochs.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.mwos.ebochs.toolbars.by"
               label="编译工具栏">
            <command
                  commandId="com.mwos.ebochs.commands.c2asm"
                  id="com.mwos.ebochs.toolbars.by.c2asm"
                  label="[C to asm]"
                  tooltip="把c文件编译为asm文件">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.c">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.mwos.ebochs.command.asm2obj"
                  id="com.mwos.ebochs.toolbars.by.asm2obj"
                  label="[asm to obj]"
                  tooltip="把asm文件编译为obj文件">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.asm">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.mwos.ebochs.toolbars.rd">
            <command
                  commandId="com.mwos.ebochs.command.run"
                  id="com.mwos.ebochs.toolbars.rd.run"
                  label="[运行]"
                  tooltip="运行操作系统">
            </command>
            <command
                  commandId="com.mwos.ebochs.command.debug"
                  id="com.mwos.ebochs.toolbars.rd.debug"
                  label="[调试]"
                  tooltip="调试操作系统">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.mwos.ebochs.commands.category.by"
            name="编译命令类">
      </category>
      <command
            categoryId="com.mwos.ebochs.commands.category.by"
            id="com.mwos.ebochs.commands.c2asm"
            name="C to asm">
      </command>
      <command
            categoryId="com.mwos.ebochs.commands.category.by"
            id="com.mwos.ebochs.commands.asm2obj"
            name="asm to obj">
      </command>
      <category
            id="com.mwos.ebochs.commands.category.rd"
            name="运行调试类">
      </category>
      <command
            categoryId="com.mwos.ebochs.commands.category.rd"
            id="com.mwos.ebochs.command.run"
            name="运行">
      </command>
      <command
            categoryId="com.mwos.ebochs.commands.category.by"
            id="com.mwos.ebochs.command.debug"
            name="调试">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mwos.ebochs.ui.view.OSDebugPerspective"
            icon="resource/image/os.png"
            id="com.mwos.ebochs.perspective.OSDebugPerspective"
            name="OS Debug">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mwos.ebochs.ui.preference.OSDevPreference"
            id="com.mwos.ebochs.preference.os"
            name="操作系统开发">
      </page>
      <page
            category="com.mwos.ebochs.preference.os"
            class="com.mwos.ebochs.ui.preference.ToolChainPreferencePage"
            id="com.mwos.ebochs.preference.toolchain"
            name="工具链">
      </page>
      <page
            category="com.mwos.ebochs.preference.os"
            class="com.mwos.ebochs.ui.preference.VMPreferencePage"
            id="com.mwos.ebochs.preference.vm"
            name="虚拟机">
      </page>
     </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.mwos.ebochs.view.ConsoleFactory"
            icon="resource/image/os.png"
            label="MWOS">
      </consoleFactory>
   </extension>
   <extension
         id="osnature"
         name="OS Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.mwos.ebochs.resource.project.OSProjectNature">
         </run>
      </runtime>
      <builder
            id="com.mwos.ebochs.OSBuilder">
      </builder>
      <options
            allowLinking="true">
      </options>
      <requires-nature
            id="org.eclipse.cdt.core.cnature">
      </requires-nature>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.mwos.ebochs.ui.launch.LaunchType"
            id="com.mwos.ebochs.launchConfigurationType"
            modes="run,debug"
            name="Launch OS">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.mwos.ebochs.ui.launch.ShortLaunch"
            icon="resource/icons/script_palette.png"
            id="com.mwos.ebochs.launch.run"
            label="Launch OS"
            modes="run,debug">
         <configurationType
               id="com.mwos.ebochs.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              forcePluginActivation="true"
                              property="com.mwos.ebochs.propertyTester.isOSProject">
                        </test>
                     </or>
                  </iterate>
               </with></enablement>
            <contextLabel
                  label="Run OS"
                  mode="run">
            </contextLabel>
            <contextLabel
                  label="Debug OS"
                  mode="debug">
            </contextLabel></contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.mwos.ebochs.ui.launch.LaunchTabGroup"
            id="com.mwos.ebochs.launchConfigurationTabGroup.run"
            type="com.mwos.ebochs.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.mwos.ebochs.launchConfigurationType"
            icon="resource/icons/application_form.png"
            id="com.mwos.ebochs.launchConfigurationTypeImage1">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         id="OSBuilder"
         name="OS Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="true">
         <run
               class="com.mwos.ebochs.core.build.ProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.mwos.ebochs.ui.decorato.BuildErrorDecorato"
            icon="resource/icons/basket_go.png"
            id="com.mwos.ebochs.decorator.buildError"
            label="buildError"
            lightweight="false"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         id="com.ebochs.BuildErrorMarker"
         name="编译错误"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mwos.ebochs.ui.Tester"
            id="com.mwos.ebochs.propertyTester"
            namespace="com.mwos.ebochs.propertyTester"
            properties="isOSProject"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.mwos.ebochs.ui.debug.model.OSDebugModelPresentation"
            id="com.mwos.ebochs.debugModelPresentation">
      </debugModelPresentation>
   </extension>
   <extension
         id="com.ebochs.DebugMarker"
         name="调试marker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="false">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerType="com.ebochs.DebugMarker"
            name="com.mwos.ebochs.type2"
            super="org.eclipse.debug.ui.currentIP">
      </type>
   </extension>

</plugin>
