<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.mwos.ebochs.wizards.category"
            name="OS">
      </category>
      <wizard
            category="com.mwos.ebochs.wizards.category"
            class="com.mwos.ebochs.wizard.NewProjectWizard"
            icon="resource/image/panda.png"
            id="com.mwos.ebochs.wizard.OSWizard"
            name="向导测试"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.mwos.ebochs.view.category"
            name="操作系统调试">
      </category>
      <view
            allowMultiple="false"
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.view.RegisterVPart"
            icon="resource/image/register1.png"
            id="com.mwos.ebochs.view.registerVPart"
            inject="true"
            name="寄存器">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.view.MemVPart"
            icon="resource/icons/monitor_link.png"
            id="com.mwos.ebochs.view.MemVPart"
            name="内存">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.view.StackVPart"
            icon="resource/icons/text_align_justify.png"
            id="com.mwos.ebochs.view.StackVPart"
            name="堆栈">
      </view>
      <view
            category="com.mwos.ebochs.view.category"
            class="com.mwos.ebochs.view.GIdtVPart"
            icon="resource/icons/table_multiple.png"
            id="com.mwos.ebochs.view.GIdtVPart"
            name="全局描述符表">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.mwos.ebochs.handlers.Asm2objHandler"
            commandId="com.mwos.ebochs.commands.asm2obj">
      </handler>
      <handler
            class="com.mwos.ebochs.handlers.C2asmHandler"
            commandId="com.mwos.ebochs.commands.c2asm">
      </handler>
      <handler
            class="com.mwos.ebochs.handlers.RunHandler"
            commandId="com.mwos.ebochs.command.run">
      </handler>
      <handler
            class="com.mwos.ebochs.handlers.DebugHandler"
            commandId="com.mwos.ebochs.command.debug">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mwos.ebochs.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.mwos.ebochs.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="com.mwos.ebochs.commands.sampleCommand"
                  id="com.mwos.ebochs.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.mwos.ebochs.toolbars.by"
               label="编译工具栏">
            <command
                  commandId="com.mwos.ebochs.commands.c2asm"
                  id="com.mwos.ebochs.toolbars.by.c2asm"
                  label="[C to asm]"
                  tooltip="把c文件编译为asm文件">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.c">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.mwos.ebochs.command.asm2obj"
                  id="com.mwos.ebochs.toolbars.by.asm2obj"
                  label="[asm to obj]"
                  tooltip="把asm文件编译为obj文件">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 property="org.eclipse.core.resources.name"
                                 value="*.asm">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.mwos.ebochs.toolbars.rd">
            <command
                  commandId="com.mwos.ebochs.command.run"
                  id="com.mwos.ebochs.toolbars.rd.run"
                  label="[运行]"
                  tooltip="运行操作系统">
            </command>
            <command
                  commandId="com.mwos.ebochs.command.debug"
                  id="com.mwos.ebochs.toolbars.rd.debug"
                  label="[调试]"
                  tooltip="调试操作系统">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.mwos.ebochs.commands.category.by"
            name="编译命令类">
      </category>
      <command
            categoryId="com.mwos.ebochs.commands.category.by"
            id="com.mwos.ebochs.commands.c2asm"
            name="C to asm">
      </command>
      <command
            categoryId="com.mwos.ebochs.commands.category.by"
            id="com.mwos.ebochs.commands.asm2obj"
            name="asm to obj">
      </command>
      <category
            id="com.mwos.ebochs.commands.category.rd"
            name="运行调试类">
      </category>
      <command
            categoryId="com.mwos.ebochs.commands.category.rd"
            id="com.mwos.ebochs.command.run"
            name="运行">
      </command>
      <command
            categoryId="com.mwos.ebochs.commands.category.by"
            id="com.mwos.ebochs.command.debug"
            name="调试">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.mwos.ebochs.perspective.OSDebugPerspective"
            icon="resource/image/os.png"
            id="com.mwos.ebochs.perspective.OSDebugPerspective"
            name="OS Debug">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.mwos.ebochs.editor.AsmEditor"
            extensions="asm"
            icon="resource/image/panda.png"
            id="com.mwos.ebochs.editor.AsmEditor"
            name="AsmEditor">
      </editor>
      <editor
            class="com.mwos.ebochs.editor.AsmMultiEditor"
            extensions="gas"
            icon="resource/image/register.png"
            id="com.mwos.ebochs.editor.AsmMultiEditor"
            name="MultiPageEditorPart">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.mwos.ebochs.preference.OSPreferencePage"
            id="com.mwos.ebochs.preference.os"
            name="MWOS">
      </page>
      <page
            category="com.mwos.ebochs.preference.os"
            class="com.mwos.ebochs.preference.ToolChainPreferencePage"
            id="com.mwos.ebochs.preference.toolchain"
            name="工具链">
      </page>
      <page
            category="com.mwos.ebochs.preference.os"
            class="com.mwos.ebochs.preference.VMPreferencePage"
            id="com.mwos.ebochs.preference.vm"
            name="虚拟机">
      </page>
     </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.mwos.ebochs.view.ConsoleFactory"
            icon="resource/image/os.png"
            label="MWOS">
      </consoleFactory>
   </extension>

</plugin>
