<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Ebochs cmd"
            id="com.mwos.ebochs.commands.category"
            name="EbochsCmd">
      </category>
      <command
            categoryId="com.mwos.ebochs.commands.category"
            id="com.mwos.ebochs.commands.openView"
            name="Open Ebochs View">
      </command>
      <command
            categoryId="com.mwos.ebochs.commands.category"
            description="Add selected item"
            id="com.mwos.ebochs.commands.add"
            name="Add">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.mwos.ebochs.menu.ebochsMenu"
               label="Ebochs"
               mnemonic="b">
            <command
                  commandId="com.mwos.ebochs.commands.openView"
                  icon="resource/image/panda.png"
                  id="com.mwos.ebochs.menus.openEbochsView"
                  mnemonic="O"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.mwos.ebochs.toolbars.main">
            <command
                  commandId="com.mwos.ebochs.commands.openView"
                  icon="resource/image/panda.png"
                  id="com.mwos.ebochs.toolbars.openEbochsView"
                  style="push"
                  tooltip="Open Ebochs View">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="com.mwos.ebochs.workbenchActonSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="Ebochs">
            <command
                  commandId="com.mwos.ebochs.commands.add"
                  icon="resource/image/panda.png"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                              <instanceof
                                    value="org.eclipse.jdt.core.IJavaElement">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.core.resources.IResource">
                              </instanceof>
                           </or>
                           <test
                                 forcePluginActivation="true"
                                 property="com.mwos.ebochs.notEbochs">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ProblemView?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.views.ProblemView?after=additions">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.views.ProblemView?after=additions">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mwos.ebochs.EbochsTester"
            id="com.mwos.ebochs.ebochsTester"
            namespace="com.mwos.ebochs"
            properties="isEbochs,notEbochs"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.mwos.ebochs.wizards.category"
            name="OS">
      </category>
      <wizard
            category="com.mwos.ebochs.wizards.category"
            class="com.mwos.ebochs.wizard.OSNewWizard"
            icon="resource/image/panda.png"
            id="com.mwos.ebochs.wizard.OSWizard"
            name="向导测试"
            project="true">
      </wizard>
   </extension>

</plugin>
